<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
        <script>
            var app = angular.module('registration',[]) 
            app.controller('regcontroller', function($scope) 
            { 
                
                
            }); 
        </script>
        

    </head>

    <body ng-app="registration" style="color: blue;">
        <form  ng-controller="regcontroller" name="regform"> 
            <h1>User Registration Form</h1>
            
            <table>
                <tr>
                    <td style="width:35%"><label for="name">Name : </label><span style="color: red">*</span></td>
                    <td><input type="text" ng-model="name" id="name" name="name" required pattern="[a-z,A-Z]{1,}">
                    <span style="color: red" ng-show="regform.name.$error.required">Name is required</span>
                    <span style="color: red;" ng-show="regform.name.$error.pattern">Name is invalid</span></td>
                    
                </tr>
                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>
                <tr>
                    <td><label for="password">Password :</label><span style="color: red">*</span></td>
                    <td><input type="password" ng-model="Password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <span style="color: red" ng-show="regform.password.$error.required">password is required</span>
                        <span style="color: red;" ng-show="regform.password.$error.pattern">Password is invalid</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="age">Age : </label><span style="color: red">*</span></td>
                    <td><input type="number" ng-model="age" id="age" name="age" required min="18" max="30">
                        <span style="color: red" ng-show="regform.age.$error.required">Age is required</span>
                        <span style="color: red;" ng-show="regform.age.$error.min">Age is invalid</span>
                        <span style="color: red;" ng-show="regform.age.$error.max">Age is invalid</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="number">Mobile Number : </label><span style="color: red">*</span></td>
                    <td><input type="number" ng-model="number" id="number" name="number" required pattern="[0-9]{10}">
                        <span style="color: red" ng-show="regform.number.$error.required">Number is required</span>
                        <span style="color: red;" ng-show="regform.number.$error.pattern">Mobile number is invalid</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="email">Email : </label><span style="color: red">*</span></td>
                    <td><input type="email" ng-model="email" id="email" name="email" required>
                        <span style="color: red" ng-show="regform.email.$error.required">Email is required</span>
                        <span style="color: red" ng-show="regform.email.$error.email">Email Format</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="gender">Gender :</label><span style="color: red">*</span></td>
                    <td><input type="radio" ng-model = 'gender' name="gender" value="male" id="gender" required>Male 
                        <input type="radio" ng-model = 'gender' name="gender" value="female" id="gender" required>Female
                        <span style="color: red" ng-show="regform.gender.$error.required">Gender is required</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td><label for="state">State :</label><span style="color: red">*</span></td>
                    <td><select ng-model="state" id="state" name="state" required> 
                        
                        <option>TamilNadu</option> 
                        <option>Kerala</option> 
                        <option>AndhraPradesh</option> 
                        <option>Karnataka</option>
                        <span style="color: red" ng-show="regform.state.$error.required">State is required</span></td>
                </tr>

                <tr>
                    <td><br></td>
                    <td><br></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" ng-disabled=" regform.name.$error.required || regform.password.$error.required || regform.age.$error.required ||
                         regform.number.$error.required || regform.email.$error.required || regform.gender.$error.required || regform.state.$error.required" ></td>
                </tr>

                

            </table>

             
        </form> 
    </body>
</html>